################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConfigurationWithConsul/bin/Debug/netcoreapp3.1
/ConfigurationWithConsul/obj
/ConfigurationWithConsul/wwwroot
